.search-container {
  display: inline-flex;
  position: absolute;
  top: 3%;
  right: 1.5%;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: 998;
  background-color: #fff;
}

.search-results {
  position: absolute;
  top: 9%;
  right: 1.5%;
  max-width: 265px;
  max-height: 300px;
  padding: 10px;
  color: #f9cd76;
  background-color: #2e4052d9;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 999;
  & > ul {
    list-style-type: none;
  }
}

.icon {
  padding: 0.7rem;
}

.search-box {
  border: 0;
  flex: 1;
  padding: 10px 0;
}

.search-button {
  color: #f9cd76;
  background: #2e4052e6;
  border: 0;
  padding: 0.7rem;
  border-radius: 7px;
  font-weight: 600;
}

.go-button {
  margin: 5px 0;
}

h1 {
  font-size: 26px;
  padding-bottom: 5px;
}
